<div class="row p-3">
    {% if block.image != blank %}
    <div class="col-2">
        <img src="{{ block.image | image_url:'100x100' }}" class="img-fluid" alt="{{ block.alt }}" />
    </div>
    {% endif %}
    <div class="col-10">
    {% if block.name != blank %}
    <div class="name">{{ block.name }}</div>
    {% endif %}
    {% if block.rating != blank %}
    {% if block.rating == "1" %}
    <span class="icon-star-full"></span>
    {% elsif block.rating == "2" %}
    <span class="icon-star-full"></span><span class="icon-star-full"></span>
    {% elsif block.rating == "3" %}
    <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
    {% elsif block.rating == "4" %}
    <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
    {% elsif block.rating == "5" %}
    <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
    {% endif %}
    {% endif %}
    </div>
    <div class="col review-text py-3">
    {{ block.text }}
    </div>
    </div>
        
        {% schema %}
        {
            "name": "Testimonial",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "default": "avatar.svg",
                    "label": "Author Image Upload"
                },
                {
                    "type": "text",
                    "id": "alt",
                    "label": "Author Image Alt Text"
                },
                {
                    "type": "text",
                    "id": "name",
                    "default": "Lorem Ipsum",
                    "label": "Author Name"
                },
                {
                    "type": "select",
                    "id": "rating",
                    "label": "Rating",
                    "default": "5",
                    "options": [
                        {
                            "label": "1 star",
                            "value": "1"
                        },
                        {
                            "label": "2 stars",
                            "value": "2"
                        },
                        {
                            "label": "3 stars",
                            "value": "3"
                        },
                        {
                            "label": "4 stars",
                            "value": "4"
                        },
                        {
                            "label": "5 stars",
                            "value": "5"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                    "label": "Review Text"
                }
            ]
        }
        {% endschema %}